.searchName {
   max-width: 600px;
   margin:30px auto;
   text-align: center;
   font-size: 18px; 
}
.searchName input {
    width: 100%;
    padding: 8px 16px;
    margin-top: 20px;
}
.searchRepo {
    max-width: 600px;
    margin:30px auto;
    text-align: center;
    font-size: 18px; 
 }
 .searchRepo input {
     width: 100%;
     padding: 8px 16px;
     margin-top: 20px;
 }